/*VARIABLES UNIVERSALES*/
.redireccion {
  height: 100%;
  font-size: 4vh;
  justify-content: center;
  align-items: center;
  font-family: "Michroma", sans-serif;
  margin-bottom: 800px;
}

.redireccion2 {
  color: red;
}

.titulares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.titulares .encabezados {
  height: 100%;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  font-family: "Michroma", sans-serif;
}
.titulares .encabezados2 {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Michroma", sans-serif;
}
.titulares .encabezados3 {
  font-size: 15px;
  justify-content: center;
  align-items: center;
  font-family: "Michroma", sans-serif;
}

/*-------------mixin---------------------*/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: rgba(133, 130, 130, 0.514);
}

/*-----------------header-----------------------------*/
header .logo {
  width: 60px;
}
header .activomio {
  font-family: "Michroma", sans-serif;
  margin: 1 0px;
  border: solid rgba(103, 103, 103, 0.21) 1px;
  background-color: rgba(0, 36, 243, 0.21);
  border-radius: 10%;
}
header .letranav {
  font-family: "Michroma", sans-serif;
  margin: 1 0px;
  margin-left: auto;
}
header .navbar-light .navbar-nav .nav-link:focus,
header .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(2, 175, 255);
}

/*----------------------------titulo-----------------------------*/
.electroulet {
  overflow-x: hidden;
  color: rgb(85, 141, 167);
  text-align: center;
  text-decoration: none;
  font-family: "Michroma", sans-serif;
  font-size: 80px;
  font-weight: 900;
  transition: 1s;
  animation-name: animacionlogo;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 5;
  animation-fill-mode: forwards;
}

/*-------------------Main----------------------------------*/
.mainsito {
  transition: 1s;
  animation-name: animain;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 5;
  animation-fill-mode: forwards;
}
.mainsito .centro {
  /*esto es el centro de la pagina web*/
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.mainsito .centro .caja {
  width: 100%;
  height: 50%;
  background-color: rgba(156, 154, 154, 0.63);
  /*rgba(133, 130, 130, 0.514);*/
  border: solid rgba(0, 0, 0, 0.5137254902) 4px;
  margin: 10px;
  top: 10px;
  text-align: center;
  padding: 10px;
  line-height: 100px;
}
.mainsito .centro .caja .descripciones {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid rgba(0, 0, 0, 0.4117647059) 3px;
  font-family: "Michroma", sans-serif;
  font-size: x-large;
  font-weight: 800;
  border-radius: 10%;
}
.mainsito .centro .caja .imgventa {
  width: 60%;
  background-position: center;
  background-size: contain;
  border-radius: 10%;
}
.mainsito .centro .caja .botoncomprar {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  border-radius: 10%;
  font-family: "Michroma", sans-serif;
  font-size: large;
  font-weight: 800;
}
.mainsito .centro .caja .botoncomprar:hover {
  background-color: rgb(2, 175, 255);
}
.mainsito .centro .caja .ordenboton {
  display: flex;
  justify-content: center;
}
.mainsito .centro .caja .precio {
  color: rgb(255, 255, 255);
  font-family: "Michroma", sans-serif;
}

/*-------------------CONTACTO-----------------------------------*/
.centro3 {
  height: 100%;
}
.centro3 .centro2 .cntcentro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  font-weight: 800;
  width: 100%;
  height: 30%;
  background-color: rgba(156, 154, 154, 0.63);
  /*rgba(133, 130, 130, 0.514);*/
  border: solid rgba(0, 0, 0, 0.5137254902) 4px;
  padding: 5%;
}
.centro3 .centro2 .cntcentro .descipcioncontacto {
  font-family: "Michroma", sans-serif;
  margin-top: 20px;
  font-size: 3vh;
}
.centro3 .centro2 .cntcentro .informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: "Michroma", sans-serif;
  margin-bottom: 5px;
}
.centro3 .centro2 .cntcentro .tfile {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 900;
}
.centro3 .centro2 .cntcentro .btncomprar {
  height: 100%;
  justify-content: center;
  text-decoration: none;
  padding: 1px;
  border-radius: 10%;
  font-family: "Michroma", sans-serif;
  font-size: large;
  font-weight: 800;
}
.centro3 .centro2 .cntcentro .btncomprar:hover {
  background-color: rgb(2, 175, 255);
}

/*--------------------------------------------- arma tu pc--------------------------------------------------------------------*/
.atpsecion .atpcentro {
  width: 90%;
  height: 30%;
  margin-left: 10vh;
  margin-right: 10vh;
  background-color: rgba(156, 154, 154, 0.63);
  /*rgba(133, 130, 130, 0.514);*/
  border: solid rgba(0, 0, 0, 0.5137254902) 4px;
  color: bcolor;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.atpsecion .atpcentro .atpform {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: "Michroma", sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*-----------------locales y medios de pago*/
.centro2 {
  display: flex;
  height: 100%;
}
.centro2 .mdpcentro {
  width: 100%;
  height: 30%;
  background-color: rgba(156, 154, 154, 0.63);
  /*rgba(133, 130, 130, 0.514);*/
  border: solid rgba(0, 0, 0, 0.5137254902) 4px;
  margin: 10px;
  top: 10px;
  text-align: center;
  padding: 10px;
  line-height: 100px;
}
.centro2 .mdpcentro .imgmdp {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
  font-family: "Michroma", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.centro2 .mdpcentro .h2mdp {
  color: rgb(13, 26, 211);
  text-decoration: underline;
  font-size: large;
}
.centro2 .mdpcentro .h3mdp {
  margin: 1px;
  font-size: small;
}

/*---------------------clientes--------------------------------------*/
.clientess .gridconteiner {
  width: 100%;
  display: grid;
  margin-left: 2%;
  margin-right: 20px;
  margin-top: 2%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
}
.clientess .gridconteiner .cardmia {
  display: flex;
  justify-content: center;
}
.clientess .gridconteiner .card {
  margin: 10px;
  margin-right: 8vh;
  display: flex;
  justify-content: center;
  display: flex;
  background-color: rgba(156, 154, 154, 0.63);
  border: 2px solid black;
}
.clientess .gridconteiner .card .imgcliente {
  width: 40%;
  background-position: center;
  background-size: contain;
  border-radius: 10%;
  padding-bottom: 20px;
}
.clientess .gridconteiner .card .card-body {
  justify-items: center;
  background-color: rgba(214, 214, 214, 0.527);
}
.clientess .gridconteiner .card .card-body .cardtitulo {
  text-decoration: underline;
  color: rgb(85, 141, 167);
  font-family: "Michroma", sans-serif;
}

/*---------------------------Footer---------------------------*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  top: 100%;
  width: 100%;
  margin-top: 60px;
  padding: 0.5rem;
  background-color: rgb(85, 141, 167);
  border: 1px solid #000000;
  font-family: "Michroma", sans-serif;
}
footer .divfot, footer .divfot2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
  font-family: "Michroma", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
footer .divfot .imgfot, footer .divfot2 .imgfot {
  display: flex;
  width: 40px;
  margin-left: 10px;
  background-position: center;
  background-size: contain;
}
footer .divfot2 {
  align-items: center;
  justify-content: right;
  color: rgb(255, 255, 255);
}

/*-------------KEY------------------------------*/
@keyframes animacionlogo {
  0% {
    opacity: 0;
    color: rgb(1, 48, 48);
    transform: translate(1000px);
  }
  25% {
    opacity: 0.5;
    color: rgb(2, 92, 92);
    text-shadow: 8px 4px 8px rgb(0, 0, 0);
  }
  50% {
    color: rgb(3, 133, 133);
    text-shadow: 10px 6px 10px black;
  }
  75% {
    color: rgb(3, 80, 168);
    text-shadow: 15px 12px 15px black;
  }
  100% {
    opacity: 1;
    color: rgb(4, 50, 201);
    text-shadow: 10px 12px 15px black;
  }
}
@keyframes animain {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 100;
  }
}
/*MQ*/
/*-----------------MOVILE-------------------------------------------------------*/
@media (max-width: 576px) {
  .redireccion {
    height: 40%;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
    margin-bottom: 100px;
  }
  .redireccion2 {
    margin-bottom: 30vh;
    color: red;
    font-family: "Michroma", sans-serif;
    font-size: small;
  }
  /*Index*/
  .titulares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .titulares .encabezados {
    height: 100%;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
  }
  .titulares .encabezados2 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
  }
  .titulares .encabezados3 {
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
  }
  .mainsito .centro {
    display: grid;
    grid-template-columns: 100%;
    margin-right: 4%;
  }
  .mainsito .centro .caja {
    display: grid;
    width: 100%;
    height: auto;
    justify-content: space-around;
    /*alineacion horizontal*/
    justify-items: center;
    align-content: center;
  }
  .mainsito .centro .caja .imgventa {
    width: 90%;
    background-position: center;
    background-size: contain;
    border-radius: 10%;
  }
  .mainsito .centro .caja .descripciones {
    display: grid;
    align-content: center;
    width: 40%;
    height: 40%;
    border: solid rgba(0, 0, 0, 0.4117647059) 3px;
    font-family: "Michroma", sans-serif;
    font-size: small;
    font-weight: 600;
    border-radius: 10%;
  }
  .mainsito .centro .caja .descripciones2 {
    display: grid;
    align-content: center;
    width: 50%;
    height: 50%;
    border: solid rgba(0, 0, 0, 0.4117647059) 3px;
    font-family: "Michroma", sans-serif;
    font-size: large;
    font-weight: 600;
    border-radius: 10%;
  }
  .mainsito .centro .caja .botoncomprar {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    border-radius: 10%;
    font-family: "Michroma", sans-serif;
    font-size: large;
    font-weight: 800;
  }
  /*-------------------Contacto---------------------*/
  .centro3 {
    height: 100%;
  }
  .centro3 .centro2 .cntcentro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 800;
    width: 100%;
    height: 100%;
    background-color: rgba(156, 154, 154, 0.63);
    /*rgba(133, 130, 130, 0.514);*/
    border: solid rgba(0, 0, 0, 0.5137254902) 4px;
    padding: 5%;
    margin: 2vh;
  }
  .centro3 .centro2 .cntcentro .btncomprar {
    height: 100%;
    justify-content: center;
    text-decoration: none;
    padding: 1px;
    border-radius: 10%;
    font-family: "Michroma", sans-serif;
    font-size: small;
    font-weight: 800;
    flex-direction: column;
    height: 4vh;
    width: 60%;
  }
  .centro3 .centro2 .cntcentro .btncomprar:hover {
    background-color: rgb(2, 175, 255);
  }
  .centro3 .centro2 .cntcentro .informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: "Michroma", sans-serif;
    margin-bottom: 5px;
  }
  .centro3 .centro2 .cntcentro .descipcioncontacto {
    font-family: "Michroma", sans-serif;
    margin-top: 20px;
    font-size: 2vh;
  }
  .centro3 .centro2 .cntcentro .tfile {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 900;
  }
  /*-------------------Arma Tu PC------------------*/
  .atpsecion .atpcentro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3vh;
  }
  /*----------------locales y medios de pago-----------------*/
  .centro2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 100%;
    margin-right: 5vh;
    margin-left: 1vh;
  }
  .centro2 .mdpcentro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: auto;
    height: 100%;
    background-color: rgba(156, 154, 154, 0.63);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 1vh;
  }
  .centro2 .mdpcentro .mapita {
    width: 100%;
    height: 100%;
  }
  .centro2 .mdpcentro .mapita .descripciones2 {
    display: none;
  }
  /*------------------Nuestos Clientes------------------*/
  .clientess {
    margin-left: 7%;
  }
  .clientess .gridconteiner {
    display: flex;
    flex-direction: column;
  }
  /*----------------------Footer-----------------*/
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin-top: 60px;
    padding: 0.5rem;
    background-color: rgb(85, 141, 167);
    border: 1px solid #000000;
    font-family: "Michroma", sans-serif;
    font-size: x-small;
  }
  footer .imgfot {
    margin-right: 10px;
  }
}
/*-------------------tablet----------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 577px) and (max-width: 768px) {
  .redireccion {
    height: 40%;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
    margin-bottom: 146px;
  }
  .redireccion2 {
    margin-bottom: 30vh;
    color: red;
    font-family: "Michroma", sans-serif;
    font-size: medium;
  }
  /*Index*/
  .titulares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .titulares .encabezados {
    height: 100%;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
  }
  .titulares .encabezados2 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
  }
  .titulares .encabezados3 {
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
  }
  .mainsito .centro {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
  }
  .mainsito .centro .caja {
    display: grid;
    width: 90%;
    height: auto;
    justify-content: space-around;
    /*alineacion horizontal*/
    justify-items: center;
    align-content: center;
  }
  .mainsito .centro .caja .imgventa {
    width: 100%;
    background-position: center;
    background-size: contain;
    border-radius: 10%;
  }
  .mainsito .centro .caja .descripciones {
    display: grid;
    align-content: center;
    height: 40%;
    border: solid rgba(0, 0, 0, 0.4117647059) 3px;
    font-family: "Michroma", sans-serif;
    font-size: small;
    font-weight: 600;
    border-radius: 10%;
  }
  .mainsito .centro .caja .descripciones2 {
    display: grid;
    align-content: center;
    width: 50%;
    height: 50%;
    border: solid rgba(0, 0, 0, 0.4117647059) 3px;
    font-family: "Michroma", sans-serif;
    font-size: large;
    font-weight: 600;
    border-radius: 10%;
  }
  .mainsito .centro .caja .botoncomprar {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    border-radius: 10%;
    font-family: "Michroma", sans-serif;
    font-size: large;
    font-weight: 800;
  }
  /*-------------------Contacto---------------------*/
  .centro3 {
    height: 100%;
  }
  .centro3 .centro2 {
    margin-top: 5vh;
  }
  .centro3 .centro2 .cntcentro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    font-weight: 800;
    width: 100%;
    height: 100%;
    background-color: rgba(156, 154, 154, 0.63);
    border: solid rgba(0, 0, 0, 0.5137254902) 4px;
    padding: 5%;
    margin-left: 3vh;
  }
  .centro3 .centro2 .cntcentro .btncomprar {
    height: 100%;
    justify-content: center;
    text-decoration: none;
    padding: 1px;
    border-radius: 10%;
    font-family: "Michroma", sans-serif;
    font-size: large;
    font-weight: 800;
  }
  .centro3 .centro2 .cntcentro .btncomprar:hover {
    background-color: rgb(2, 175, 255);
  }
  .centro3 .centro2 .cntcentro .informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: "Michroma", sans-serif;
    margin-bottom: 5px;
  }
  .centro3 .centro2 .cntcentro .descipcioncontacto {
    font-family: "Michroma", sans-serif;
    margin-top: 20px;
    font-size: 3vh;
  }
  .centro3 .centro2 .cntcentro .tfile {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 900;
  }
  /*-------------------Arma Tu PC------------------*/
  .atpsecion .atpcentro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3vh;
  }
  /*----------------locales y medios de pago-----------------*/
  .centro2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 100%;
    margin-right: 4%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .centro2 .mdpcentro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: auto;
    height: 95%;
    width: 70%;
    background-color: rgba(156, 154, 154, 0.63);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .centro2 .mdpcentro .mapita {
    width: 100%;
    height: 100%;
  }
  .centro2 .mdpcentro .mapita .descripciones2 {
    display: none;
  }
  /*------------------Nuestos Clientes------------------*/
  .clientess {
    margin-left: 4%;
  }
  .clientess .gridconteiner {
    width: 98%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 30vh;
  }
  .clientess .gridconteiner .gridtamano {
    height: 50vh;
  }
  .clientess .gridconteiner .cardmia {
    display: flex;
    justify-content: center;
  }
  /*----------------------Footer-----------------*/
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    padding: 0.5rem;
    background-color: rgb(85, 141, 167);
    border: 1px solid #000000;
    font-family: "Michroma", sans-serif;
    font-size: x-small;
  }
  footer .imgfot {
    margin-left: 10px;
  }
}
/*-------------------medium-desktop----------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 923px) {
  .redireccion {
    height: 40%;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
    margin-bottom: 146px;
  }
  .redireccion2 {
    margin-bottom: 30vh;
    color: red;
    font-family: "Michroma", sans-serif;
    font-size: medium;
  }
  header .activomio {
    font-size: 2vh;
  }
  header .letranav {
    font-family: "Michroma", sans-serif;
    font-size: 2vh;
    margin: 1 0px;
    margin-left: auto;
  }
  /*Index*/
  .titulares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .titulares .encabezados {
    height: 100%;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
  }
  .titulares .encabezados2 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
  }
  .titulares .encabezados3 {
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
  }
  .mainsito .centro {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
  }
  .mainsito .centro .caja {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    height: auto;
    justify-content: space-around;
    /*alineacion horizontal*/
    justify-items: center;
    align-content: center;
  }
  .mainsito .centro .caja .imgventa {
    width: 100%;
    background-position: center;
    background-size: contain;
    border-radius: 10%;
  }
  .mainsito .centro .caja .descripciones {
    display: grid;
    align-content: center;
    height: 40%;
    border: solid rgba(0, 0, 0, 0.4117647059) 3px;
    font-family: "Michroma", sans-serif;
    font-size: small;
    font-weight: 600;
    border-radius: 10%;
  }
  .mainsito .centro .caja .descripciones2 {
    display: grid;
    align-content: center;
    width: 50%;
    height: 50%;
    border: solid rgba(0, 0, 0, 0.4117647059) 3px;
    font-family: "Michroma", sans-serif;
    font-size: large;
    font-weight: 600;
    border-radius: 10%;
  }
  .mainsito .centro .caja .botoncomprar {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    border-radius: 10%;
    font-family: "Michroma", sans-serif;
    font-size: large;
    font-weight: 800;
  }
  /*-------------------Contacto---------------------*/
  .centro3 {
    height: 100%;
  }
  .centro3 .centro2 {
    margin-top: 5vh;
  }
  .centro3 .centro2 .cntcentro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    font-weight: 800;
    width: 100%;
    height: 100%;
    background-color: rgba(156, 154, 154, 0.63);
    border: solid rgba(0, 0, 0, 0.5137254902) 4px;
    padding: 5%;
    margin-left: 3vh;
  }
  .centro3 .centro2 .cntcentro .btncomprar {
    height: 100%;
    justify-content: center;
    text-decoration: none;
    padding: 1px;
    border-radius: 10%;
    font-family: "Michroma", sans-serif;
    font-size: large;
    font-weight: 800;
  }
  .centro3 .centro2 .cntcentro .btncomprar:hover {
    background-color: rgb(2, 175, 255);
  }
  .centro3 .centro2 .cntcentro .informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: "Michroma", sans-serif;
    margin-bottom: 5px;
  }
  .centro3 .centro2 .cntcentro .descipcioncontacto {
    font-family: "Michroma", sans-serif;
    margin-top: 20px;
    font-size: 3vh;
  }
  .centro3 .centro2 .cntcentro .tfile {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 900;
  }
  /*-------------------Arma Tu PC------------------*/
  .atpsecion .atpcentro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3vh;
  }
  /*----------------locales y medios de pago-----------------*/
  .centro2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 100%;
    margin-right: 4%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .centro2 .mdpcentro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: auto;
    height: 95%;
    width: 70%;
    background-color: rgba(156, 154, 154, 0.63);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .centro2 .mdpcentro .mapita {
    width: 100%;
    height: 100%;
  }
  .centro2 .mdpcentro .mapita .descripciones2 {
    display: none;
  }
  /*------------------Nuestos Clientes------------------*/
  .clientess {
    margin-left: 4%;
  }
  .clientess .gridconteiner {
    width: 98%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 30vh;
  }
  .clientess .gridconteiner .gridtamano {
    height: 50vh;
  }
  .clientess .gridconteiner .cardmia {
    display: flex;
    justify-content: center;
  }
  /*----------------------Footer-----------------*/
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    padding: 0.5rem;
    background-color: rgb(85, 141, 167);
    border: 1px solid #000000;
    font-family: "Michroma", sans-serif;
    font-size: x-small;
  }
  footer .imgfot {
    margin-left: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
