   @use "./variables" as *;
   /*---------------------------Footer---------------------------*/
   footer {
        display: flex;
        position: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        top: 100%;
        width: 100%;
        margin-top: 0;
        padding: 0.5rem;
        background-color: rgb(85, 141, 167);
        border: 1px solid #000000;
        font-family: "Michroma", sans-serif;

        .divfot {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgb(255, 255, 255);
            flex-wrap: wrap;
            font-family: "Michroma", sans-serif;
            list-style-type: none;
            text-decoration: none;

            .imgfot {
                display: flex;
                width: 40px;
                background-position: center;
                background-size: contain;
            }
        }

        .divfot2 {
            display: flex;
            align-items: center;
            justify-content: right;
            color: rgb(255, 255, 255);
            font-family: "Michroma", sans-serif;
            list-style-type: none;
            text-decoration: none;
        }
    }