@use "./variables.scss" as *;
/*-----------------MOVILE-------------------------------------------------------*/
@media (max-width: 576px) {
    .redireccion {
        height: 40%;
        font-size: 2vh;
        justify-content: center;
        align-items: center;
        font-family: $letra;
        margin-bottom: 100px;
    }

    .redireccion2 {
        margin-bottom: 30vh;
        color: red;
        font-family: $letra;
        font-size: small;
    }

    /*Index*/
    .titulares {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;

        .encabezados {
            height: 100%;
            font-size: 4vh;
            justify-content: center;
            align-items: center;
            font-family: $letra;
        }

        .encabezados2 {
            font-size: 20px;
            justify-content: center;
            align-items: center;
            font-family: $letra;
        }

        .encabezados3 {
            font-size: 15px;
            justify-content: center;
            align-items: center;
            font-family: $letra;
        }
    }

    .mainsito {
        .centro {
            display: grid;
            grid-template-columns: 100%;
            margin-right: 4%;

            .caja {
                display: grid;
                width: 100%;
                height: auto;
                justify-content: space-around;
                /*alineacion horizontal*/
                justify-items: center;
                align-content: center;

                .imgventa {
                    width: 90%;
                    background-position: center;
                    background-size: contain;
                    border-radius: 10%;
                }

                .descripciones {
                    display: grid;
                    align-content: center;
                    width: 40%;
                    height: 40%;
                    border: solid #00000069 3px;
                    font-family: "Michroma", sans-serif;
                    font-size: small;
                    font-weight: 600;
                    border-radius: 10%;
                }

                .descripciones2 {
                    display: grid;
                    align-content: center;
                    width: 50%;
                    height: 50%;
                    border: solid #00000069 3px;
                    font-family: "Michroma", sans-serif;
                    font-size: large;
                    font-weight: 600;
                    border-radius: 10%;
                }

                .botoncomprar {

                    display: flex;
                    flex-direction: column;
                    height: 50px;
                    justify-content: center;
                    align-items: flex-start;
                    text-decoration: none;
                    border-radius: 10%;
                    font-family: $letra;
                    font-size: large;
                    font-weight: 800;

                }


            }
        }
    }

    /*-------------------Contacto---------------------*/

    .centro3 {
        height: 100%;

        .centro2 {

            .cntcentro {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: large;
                font-weight: 800;
                width: 100%;
                height: 100%;
                background-color: rgba(156, 154, 154, 0.63);
                /*rgba(133, 130, 130, 0.514);*/
                border: solid #00000083 4px;
                padding: 5%;
                margin: 2vh;

                .btncomprar {
                    height: 100%;
                    justify-content: center;
                    text-decoration: none;
                    padding: 1px;
                    border-radius: 10%;
                    font-family: $letra;
                    font-size: small;
                    font-weight: 800;
                    flex-direction: column;
                    height: 4vh;
                    width: 60%;


                }

                .btncomprar:hover {
                    background-color: rgb(2, 175, 255);

                }

                .informacion {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: black;
                    font-family: $letra;
                    margin-bottom: 5px;

                }

                .descipcioncontacto {
                    font-family: $letra;
                    margin-top: 20px;
                    font-size: 2vh;

                }



                .tfile {
                    margin-top: 10px;
                    font-size: 10px;
                    font-weight: 900;

                }
            }
        }
    }

    /*-------------------Arma Tu PC------------------*/
    .atpsecion {
        .atpcentro {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 3vh;

        }
    }

    /*----------------locales y medios de pago-----------------*/
    .centro2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 100%;
        margin-right: 5vh;
        margin-left: 1vh;


        .mdpcentro {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-columns: auto;
            height: 100%;
            background-color: rgba(156, 154, 154, 0.63);
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            margin-bottom: 1vh;

            .mapita {
                width: 100%;
                height: 100%;

                .descripciones2 {
                    display: none;

                }

            }
        }
    }

    /*------------------Nuestos Clientes------------------*/
    .clientess {
        margin-left: 7%;

        .gridconteiner {
            display: flex;
            flex-direction: column;

        }
    }

    /*----------------------Footer-----------------*/
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        margin-top: 60px;
        padding: 0.5rem;
        background-color: rgb(85, 141, 167);
        border: 1px solid #000000;
        font-family: "Michroma", sans-serif;
        font-size: x-small;

        .imgfot {
            margin-right: 10px;
        }
    }
}

/*-------------------tablet----------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 577px) and (max-width: 768px) {
    .redireccion {
        height: 40%;
        font-size: 3vh;
        justify-content: center;
        align-items: center;
        font-family: $letra;
        margin-bottom: 146px;
    }

    .redireccion2 {
        margin-bottom: 30vh;
        color: red;
        font-family: $letra;
        font-size: medium;
    }

    /*Index*/
    .titulares {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;

        .encabezados {
            height: 100%;
            font-size: 4vh;
            justify-content: center;
            align-items: center;
            font-family: $letra;
        }

        .encabezados2 {
            font-size: 20px;
            justify-content: center;
            align-items: center;
            font-family: $letra;
        }

        .encabezados3 {
            font-size: 15px;
            justify-content: center;
            align-items: center;
            font-family: $letra;
        }
    }


    .mainsito {

        .centro {
            display: flex;
            justify-content: flex-start;
            justify-items: center;
            align-content: center;

            .caja {
                display: grid;
                width: 90%;
                height: auto;
                justify-content: space-around;
                /*alineacion horizontal*/
                justify-items: center;
                align-content: center;

                .imgventa {
                    width: 100%;
                    background-position: center;
                    background-size: contain;
                    border-radius: 10%;
                }

                .descripciones {
                    display: grid;
                    align-content: center;

                    height: 40%;
                    border: solid #00000069 3px;
                    font-family: "Michroma", sans-serif;
                    font-size: small;
                    font-weight: 600;
                    border-radius: 10%;
                }

                .descripciones2 {
                    display: grid;
                    align-content: center;
                    width: 50%;
                    height: 50%;
                    border: solid #00000069 3px;
                    font-family: "Michroma", sans-serif;
                    font-size: large;
                    font-weight: 600;
                    border-radius: 10%;
                }

                .botoncomprar {

                    display: flex;
                    flex-direction: column;
                    height: 50px;
                    justify-content: center;
                    align-items: flex-start;
                    text-decoration: none;
                    border-radius: 10%;
                    font-family: $letra;
                    font-size: large;
                    font-weight: 800;

                }


            }
        }
    }

    /*-------------------Contacto---------------------*/

    .centro3 {
        height: 100%;

        .centro2 {
            margin-top: 5vh;

            .cntcentro {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: large;
                font-weight: 800;
                width: 100%;
                height: 100%;
                background-color: rgba(156, 154, 154, 0.63);
                border: solid #00000083 4px;
                padding: 5%;
                margin-left: 3vh;


                .btncomprar {
                    height: 100%;
                    justify-content: center;
                    text-decoration: none;
                    padding: 1px;
                    border-radius: 10%;
                    font-family: $letra;
                    font-size: large;
                    font-weight: 800;
                }

                .btncomprar:hover {
                    background-color: rgb(2, 175, 255);

                }

                .informacion {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: black;
                    font-family: $letra;
                    margin-bottom: 5px;
                }

                .descipcioncontacto {
                    font-family: $letra;
                    margin-top: 20px;
                    font-size: 3vh;
                }

                .tfile {
                    margin-top: 15px;
                    font-size: 14px;
                    font-weight: 900;

                }
            }
        }
    }

    /*-------------------Arma Tu PC------------------*/
    .atpsecion {
        .atpcentro {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 3vh;

        }
    }

    /*----------------locales y medios de pago-----------------*/
    .centro2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 100%;
        margin-right: 4%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;


        .mdpcentro {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-columns: auto;
            height: 95%;
            width: 70%;
            background-color: rgba(156, 154, 154, 0.63);
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;

            .mapita {
                width: 100%;
                height: 100%;

                .descripciones2 {
                    display: none;

                }

            }
        }
    }

    /*------------------Nuestos Clientes------------------*/
    .clientess {
        margin-left: 4%;

        .gridconteiner {
            width: 98%;
            height: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            margin-bottom: 30vh;

            .gridtamano {
                height: 50vh;
            }

            .cardmia {
                display: flex;
                justify-content: center;

            }
        }
    }

    /*----------------------Footer-----------------*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 60px;
        padding: 0.5rem;
        background-color: rgb(85, 141, 167);
        border: 1px solid #000000;
        font-family: "Michroma", sans-serif;
        font-size: x-small;

        .imgfot {
            margin-left: 10px;
        }
    }
}

/*-------------------medium-desktop----------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 923px) {
    .redireccion {
        height: 40%;
        font-size: 3vh;
        justify-content: center;
        align-items: center;
        font-family: $letra;
        margin-bottom: 146px;
    }

    .redireccion2 {
        margin-bottom: 30vh;
        color: red;
        font-family: $letra;
        font-size: medium;
    }

    header {

        .activomio {
            font-size: 2vh;
        }

        .letranav {
            font-family: $letra;
            font-size: 2vh;
            margin: 01 0px;
            margin-left: auto;
        }
    }

    /*Index*/
    .titulares {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;

        .encabezados {
            height: 100%;
            font-size: 4vh;
            justify-content: center;
            align-items: center;
            font-family: $letra;
        }

        .encabezados2 {
            font-size: 20px;
            justify-content: center;
            align-items: center;
            font-family: $letra;
        }

        .encabezados3 {
            font-size: 15px;
            justify-content: center;
            align-items: center;
            font-family: $letra;
        }
    }


    .mainsito {

        .centro {
            display: flex;
            justify-content: flex-start;
            justify-items: center;
            align-content: center;

            .caja {
                display: grid;
                grid-template-columns: 1fr;
                width: 90%;
                height: auto;
                justify-content: space-around;
                /*alineacion horizontal*/
                justify-items: center;
                align-content: center;

                .imgventa {
                    width: 100%;
                    background-position: center;
                    background-size: contain;
                    border-radius: 10%;
                }

                .descripciones {
                    display: grid;
                    align-content: center;
                    height: 40%;
                    border: solid #00000069 3px;
                    font-family: "Michroma", sans-serif;
                    font-size: small;
                    font-weight: 600;
                    border-radius: 10%;
                }

                .descripciones2 {
                    display: grid;
                    align-content: center;
                    width: 50%;
                    height: 50%;
                    border: solid #00000069 3px;
                    font-family: "Michroma", sans-serif;
                    font-size: large;
                    font-weight: 600;
                    border-radius: 10%;
                }

                .botoncomprar {

                    display: flex;
                    flex-direction: column;
                    height: 50px;
                    justify-content: center;
                    align-items: flex-start;
                    text-decoration: none;
                    border-radius: 10%;
                    font-family: $letra;
                    font-size: large;
                    font-weight: 800;

                }


            }
        }
    }

    /*-------------------Contacto---------------------*/

    .centro3 {
        height: 100%;

        .centro2 {
            margin-top: 5vh;

            .cntcentro {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: large;
                font-weight: 800;
                width: 100%;
                height: 100%;
                background-color: rgba(156, 154, 154, 0.63);
                border: solid #00000083 4px;
                padding: 5%;
                margin-left: 3vh;


                .btncomprar {
                    height: 100%;
                    justify-content: center;
                    text-decoration: none;
                    padding: 1px;
                    border-radius: 10%;
                    font-family: $letra;
                    font-size: large;
                    font-weight: 800;
                }

                .btncomprar:hover {
                    background-color: rgb(2, 175, 255);

                }

                .informacion {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: black;
                    font-family: $letra;
                    margin-bottom: 5px;
                }

                .descipcioncontacto {
                    font-family: $letra;
                    margin-top: 20px;
                    font-size: 3vh;
                }

                .tfile {
                    margin-top: 15px;
                    font-size: 14px;
                    font-weight: 900;

                }
            }
        }
    }

    /*-------------------Arma Tu PC------------------*/
    .atpsecion {
        .atpcentro {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 3vh;

        }
    }

    /*----------------locales y medios de pago-----------------*/
    .centro2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 100%;
        margin-right: 4%;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;


        .mdpcentro {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-columns: auto;
            height: 95%;
            width: 70%;
            background-color: rgba(156, 154, 154, 0.63);
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;

            .mapita {
                width: 100%;
                height: 100%;

                .descripciones2 {
                    display: none;

                }

            }
        }
    }

    /*------------------Nuestos Clientes------------------*/
    .clientess {
        margin-left: 4%;

        .gridconteiner {
            width: 98%;
            height: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            margin-bottom: 30vh;

            .gridtamano {
                height: 50vh;
            }

            .cardmia {
                display: flex;
                justify-content: center;

            }
        }
    }

    /*----------------------Footer-----------------*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 60px;
        padding: 0.5rem;
        background-color: rgb(85, 141, 167);
        border: 1px solid #000000;
        font-family: "Michroma", sans-serif;
        font-size: x-small;

        .imgfot {
            margin-left: 10px;
        }
    }
}