$rojo:red;
$azul:blue;
$verde:green;
$bcolor:rgba(133, 130, 130, 0.514);
$negro:black;
$letra:"Michroma", sans-serif;
$cprincipal: rgb(85, 141, 167);

/*-------------mixin---------------------*/
@mixin flexsp{
    display: flex;
    direction: row;
    justify-content:center;
}

@mixin flexcp ($direcion, $justifi, $aling){
    flex-direction: $direcion;
    justify-content: $justifi;
    align-items: $aling;
}
